.govDetailContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 12px;

  @media screen and (max-width: 960px) {
    margin: 0;
  }
}

.govDetailImg {
  width: 80px;
  height: 80px;
  margin-bottom: 32px;

  @media screen and (max-width: 960px) {
    margin-bottom: 16px;
  }
}

.govDetailDescription {
  @apply text-16 font-regular text-primary-100;

  text-align: center;
  width: 100%;
  max-width: 250px;
  margin-bottom: 104px;

  @media screen and (max-width: 960px) {
    @apply text-16-24;

    width: 287px;
    margin-bottom: 48px;
  }
}
