.fundInfoDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 140px;
  margin: 0 12px;

  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    margin: 0 0 40px;
  }
}

.fundInfoDetailImg {
  width: 60px;
  height: 60px;
}

.fundInfoDetailDescription {
  @apply text-16-24 font-regular text-primary-100;

  text-align: center;
  height: 48px;
  margin-top: 20px;

  @media screen and (max-width: 960px) {
    display: flex;
    margin: 0 0 0 20px;
    width: 100%;
    text-align: left;
    align-items: center;
  }
}
